@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div>
    <div>
        <a asp-action="Index">This page</a>
    </div>
    <div>
        <a asp-action="AgeCheck">Age check</a>
    </div>
    <div>
        <a asp-action="ForbiddenResource">Forbidden Resource</a>
    </div>
    <div>
        <a asp-action="GetFile">Show Me That Ring</a>
    </div>
    <div>
        <a asp-action="GetBytes">Give Me That File Byte By Byte</a>
    </div>
    <div>
        <a asp-action="GetStream">Give Me That File As a Stream</a>
    </div>
    <div>
        <a asp-action="GoGoogle">Go Google</a>
    </div>
    <div>
        <a asp-action="GoToHomePage">Go Home</a>
    </div>
    <div>
        <a asp-action="JsonObjectSerialized">Give Me That Json</a>
    </div>
    <div>
        <a asp-action="MereContentString">Mere ContentString</a>
    </div>
    <div>
        <a asp-action="NotFoundResource">Link To Nowhereland</a>
    </div>
    <div>
        <a asp-action="Nothing">Just Nothing</a>
    </div>
    <div>
        <a asp-action="Nothing204">Another Nothing</a>
    </div>
    <div>
        <a asp-action="ReallyBadRequest">Really Bad Request</a>
    </div>
    <div>
        <a asp-action="RedirectWithParameters">Greet Me</a>
    </div>
    <div>
        <a asp-action="TellMeItsOk">Tell Me Its Ok</a>
    </div>
</div>