@model IEnumerable<EmployeeViewModel>

@{
    //Layout = null;
    ViewData["Title"] = "Index";
}

<h1>Hello from my first view</h1>

<table class="table">
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.FirstName</td>
            <td>@item.SurName</td>
            <td>@item.Patronymic</td>
            <td>
                @Html.ActionLink("Детали", "Details", new { id = item.Id })
            </td>
        </tr>
    }
</table>